ul {
    display: flex;
}

img{
    height: 150px;
    width: 150px;
}

#topnavbar_links{
    float: right;
}

#topnavbar{
    background-color: antiquewhite;
    border: 1px solid #dfb285;
    border-radius: 5px;
}

